body{

    margin-top: 110px;
  }
  
  #login{
  
    padding-left: 40px;
  }
  
  #logintext{
  
    width: 122px;
    height: 65px;

    margin-bottom: 30px;

    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 65px;
  }
  
  input[type=text], input[type=password]{
  
    width: 300px;
    height: 39px;
    left: 103px;
    top: 410px;

    border: 1px solid #7ECA9C;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
  
  button[type=submit]{
  
    width: 300px;
    height: 47px;

    background: #2F5D62;
    border-radius: 10px;

    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
  }
  
  #gambar{
  
    background-color: #7ECA9C;
    margin-left: 00px;
  }
  
  img{
    margin-top: 35px;
    width: 330px;
    height: 330px;
    align-items: center;
  }
  
  label{
  
    margin-bottom: 9px;
    font-family: Assistant;
  
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
  }
/*   
  #forget{
  
    margin-top: 9px;
    text-decoration: none;
    padding-left: 130px;
  
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    color: #FF4F5A;
  
  } */
  
  #loginbtn{
  
    background: #2F5D62;
    border: 1px solid #2F5D62;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  #create{
  
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    /* identical to box height */
  
    color: #2F5D62;
  }
  
  #notreg{
  
    font-family: Assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    /* identical to box height */
  
  
    color: #000000;
  }