@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Assistant;
  background: #ccffbd;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.menu {
  float: right;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.top {
  margin-top: 40%;
}

.kolom {
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #ff4f5a;
}

.top {
  margin-top: 90px;
}

h2 {
  font-family: Assistant;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 33px;

  margin-top: -20px;
  margin-bottom: 20px;
  color: #2f5d62;
  width: 100%;
  line-height: 50px;
}

a.telusuri {
  background: #2f5d62;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

a.telusuri:hover {
  background: #9adab4;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

p.desk {
  color: #2f5d62;
  font-size: 20px;
}

.tengah {
  text-align: center;
  width: 100%;
}

#contact {
  /* background: #ffffff; */
  background: #50b67a;
  color: #2f5d62;
  padding: 50px 0px 50px 0px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
  width: 100%;
  line-height: 50px;
}

#copyright {
  /* border-top: 1px solid #ffffff; */
  background: #7eca9c;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }
  nav .menu {
    width: 100%;
    margin: 0;
  }
  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }
  nav .menu ul li {
    display: inline-block;
    float: none;
  }
  section {
    display: block;
  }
  section img {
    display: block;
    width: 100%;
    height: auto;
  }
  .kartu-tutor {
    width: 50%;
  }
  .kartu-partner {
    width: 50%;
  }
}

.service {
  /* font-size: 40px; */
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  /* margin-top: 100px; */
}

.service1 {
  /* font-size: 40px; */
  font-family: "Assistant", sans-serif;
  /* font-weight: bold; */
}

.gambar {
  margin-top: -130px;
}

.home {
  margin-top: 120px;
}

.artikel {
  margin-top: 150px;
}
